@page
@model ASC.Web.Areas.Identity.Pages.Account.InitiateResetPasswordModel
@{
    ViewData["Title"] = "Initiate Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sử dụng layout chung của ứng dụng
}

<div class="row">
    <div class="col s12">
        <div class="card-panel teal lighten-2 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Đã gửi link đặt lại mật khẩu về email của bạn. Vui lòng kiểm tra email (bao gồm cả thư mục spam) để tiếp tục.
            </span>
        </div>
        <div class="row center">
            <a href="/Identity/Account/Login" class="btn waves-effect waves-light teal lighten-1">
                Quay lại đăng nhập
            </a>
        </div>
    </div>
</div>